.advantages {
  padding-top: 24px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 33px;
    padding-bottom: 30px;
  }
}

.advantages__title {
  margin-top: 44px;
  margin-bottom: 29px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 26px;
    margin-bottom: 42px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 64px;
    margin-bottom: 36px;
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
    padding-right: 170px;
  }
}

.advantages__list {
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    column-count: 2;
    column-gap: 2px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 170px;
    padding-right: 170px;
  }
}

.advantages__list-item {
  position: relative;
  padding-top: 54px;
  padding-bottom: 29px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding-bottom: 58px;
    font-size: 20px;
    line-height: 22px;
    padding-right: 40px;
    padding-top: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
}

.advantages__list-item--ecologie {
  &::before {
    left: 8px;
    top: 0;
    width: 32px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
    background-size: 32px 37px;
  }
}

.advantages__list-item--scandinavian {
  &::before {
    left: 0;
    top: 0;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-money.svg");
    background-size: 47px 27px;
  }
}

.advantages__list-item--likes {
  &::before {
    left: 7px;
    top: 6px;
    width: 33px;
    height: 28px;
    background-image: url("../img/icon-feature-heart.svg");
    background-size: 33px 28px;
  }
}

.advantages__list-item--craft {
  &::before {
    left: 3px;
    top: 3px;
    width: 34px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
    background-size: 34px 34px;
  }
}

.advantages__list-item--homeland {
  &::before {
    left: -5px;
    top: 4px;
    width: 54px;
    height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-size: 54px 23px;
  }
}

.advantages__list-item--gift {
  &::before {
    left: 3px;
    top: 2px;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
    background-size: 33px 32px;
  }
}
