.catalog-product {
  display: flex;
  flex-wrap: wrap;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
  }
}

.catalog-product__image {
  display: block;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.catalog-product__wrapper {
  box-sizing: border-box;
  padding: 26px 27px 11px;
  width: 260px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 9px;
    width: 100%;
    min-height: 197px;
  }
}

.catalog-product__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 20px;
  }
}

.catalog-product__link {
  color: inherit;
  text-decoration: none;
}

.catalog-product__description {
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    font-size: 15px;
  }
}

.catalog-product__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 16px;

  @media (min-width: @tablet-width) {
    margin-top: auto;
    padding: 22px 4px 15px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 22px 5px 17px 0;
  }
}

.catalog-product__price {
  margin: 0;
  font-weight: 700;
  color: @black;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-weight: 700;
    color: @black;
    font-size: 17px;
  }
}

.catalog-product__button {
  width: 20px;
  height: 19px;
}
