.catalog-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

@media (min-width: @tablet-width) {
  .catalog-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 129px;
    padding-bottom: 3px;
  }
}

.catalog-product {
  margin: 0 auto 30px;
}

@media (min-width: @tablet-width) {
  .catalog-product {
   margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-product {
    margin: 0 0 54px;
  }
}
