.contacts {
  position: relative;
  padding-top: 17px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 21px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 69px 50px 104px;
    width: 1050px;
  }
}

.contacts-wrapper {
  margin: 25px auto 0;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    margin-top: 48px;
    margin-bottom: 42px;
  }
}

.contacts__title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__email {
  display: inline-block;
  vertical-align: top;
  width: 182px;

  @media (min-width: @tablet-width) {
    width: 257px;
  }

  @media (min-width: @desktop-width) {
    width: 222px;
  }
}

.contacts__map {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 69px;
    right: 50px;
    margin-bottom: 0;
  }
}
