.contacts {
  position: relative;
  padding-top: 17px;
  padding-bottom: 38px;
  display: flex;
  flex-direction: column;


  @media (min-width: @tablet-width) {
    padding-top: 21px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 69px 50px 104px;
    width: 1050px;
  }
}

.contacts-wrapper {
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 51px;
    padding-left: 175px;
    width: 525px;
  }
}

.contacts__title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    right: 3px;
    transform: translateY(-50%);
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-size: image-size("../img/icon-flag.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      display: block;
      top: 16px;
    }

    @media (min-width: @desktop-width) {
      left: -112px;
      right: auto;
    }
  }
}


.contacts__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 1px 1px;
  grid-template-areas:
    "contacts__list-email contacts__list-description"
    "contacts__list-adress contacts__list-content";
  margin: 25px auto 30px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "contacts__list-email contacts__list-description contacts__list-adress contacts__list-content";
    font-size: 17px;
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    gap: 1px 1px;
    grid-template-areas:
      "contacts__list-email contacts__list-description"
      "contacts__list-adress contacts__list-content";
    margin-bottom: 0;
  }
}

.contacts__list-email {
  color: @grey-basic;
  grid-area: contacts__list-email;

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    margin-top: 9px;
  }
}

.contacts__list-description {
  margin: 0;
  color: @grey-basic;
  grid-area: contacts__list-description;

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding: 0;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    margin-top: 9px;
  }
}

.contacts__list-adress {
  color: @grey-basic;
  grid-area: contacts__list-adress;

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    margin-bottom: 0;
  }
}

.contacts__list-content {
  color: @grey-basic;
  grid-area: contacts__list-content;
  margin: 0;


  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.contacts__map {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 40px;
    right: 50px;
    margin-bottom: 0;
    width: 525px;
    height: 457px;
  }
}

.contacts__button-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 269px;
    padding-right: 269px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
    padding: 0;
    width: 230px;
    min-width: auto;
    padding-top: 30px;
  }
}

.contacts__button {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}

.mail-link {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid @green-form;
  color: @grey-basic;

  &:hover {
    border-bottom-color: @footer-green;
    color: @footer-green;
  }

  &:active {
    color: @footer-green;
    border-bottom-color: fade(@footer-green, 10%);
  }
}
