.main-navigation {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;
  min-height: 79px;
  margin: 0 auto;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-navigation__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    background-color: @white;
  }
}

.main-navigation__toggle {
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 3px;
    background-color: @black;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  .main-navigation__toggle--off {
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 2px;
      box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
    }

    &::after {
      display: none;
    }
  }
}

.main-nav--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation__text {
  display: none;
  box-sizing: border-box;
  margin: 0;
  text-align: right;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    margin: 0;
    text-align: right;
    display: block;
    order: 2;
    width: 48%;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation__text {
    box-sizing: border-box;
    text-align: right;
    display: block;
    order: 4;
    margin-left: auto;
    width: 500px;
  }
}
