.main-navigation {
  box-sizing: border-box;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 89px;
    margin: 0 auto;
  }
}

.main-navigation__logo--wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 22px 30px 21px;
  border-bottom: 1px solid @grey-light;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    flex-grow: 1;
    padding: 21px 50px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 0;
    order: 1;
    padding: 7px 0 6px;
  }
}

.main-navigation__toggle {
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 3px;
    background-color: @black;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  &--off {
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 2px;
      box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
    }

    &::after {
      display: none;
    }
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation__text {
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 50px;
  text-align: right;

  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    order: 4;
  }
}

.main-navigation__site-list {
  @media (min-width: @tablet-width) {
    order: 1;
  }

  @media (min-width: @desktop-width) {
    order: 0;
  }
}

.main-navigation__user-list {
  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.main-navigation__stock-list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    order: 3;
  }
}
