.main-navigation {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
}
@media (min-width:@tablet-width) {
  .main-navigation {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-navigation__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid @grey-light;
}
@media (min-width:@tablet-width) {
  .main-navigation__wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    background-color: @white;
  }
}

.main-navigation__toggle {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
}

.main-navigation__toggle--off {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
}

.main-navigation__text {
  display: none;
  box-sizing: border-box;
  margin: 0;
  text-align: right;
}

@media (min-width:@tablet-width) {
  .main-navigation__text {
    box-sizing: border-box;
    margin: 0;
    text-align: right;
    display: block;
    order: 2;
    width: 48%;
  }
}
  @media (min-width:@desktop-width) {
    .main-navigation__text {
      box-sizing: border-box;
      text-align: right;
      display: block;
      order: 4;
      margin-left: auto;
      width: 500px;
    }
  }
