.map {
  position: relative;
  min-height: 457px;

  @media (min-width: @desktop-width) {
    position: absolute;
  }
}

.map__image {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  min-width: 320px;
  min-height: 457px;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 525px;
  }
}

.map__interactive {
  position: relative;
  z-index: 20;
  border: none;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  min-width: 320px;
  min-height: 457px;

  @media (min-width: @mobile-width-550) {
    min-width: 525px;
  }

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 525px;
  }
}
