.page-header {
  background-color: @white;

  @media (min-width: @tablet-width) {
    background-color: @footer-grey;
  }

  @media (min-width: @desktop-width) {
    overflow: hidden;
  }

  &--index {
    @media (min-width: @tablet-width) {
      background-color: @grey-bg-catalog;
    }
  }
}
