.page-footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
    width: 320px;
}


.page-footer__copyright {
    margin-top: 14px;
    margin-bottom: 7px;
}


.page-footer__copyright-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 7px;
    color: #000000;
    text-decoration: none;
}


.page-footer__copyright-text {
    font-size: 19px;
    font-weight: 700;
    line-height: 19px;
}


.page-footer__copyright-image {
    margin-left: 30px;
    width: 27px;
    height: 34px;
    fill: #63d1bb;
}
