.promo {
  position: relative;
  padding-top: 24px;
  padding-bottom: 6px;
}

@media (min-width: @tablet-width) {
  .promo {
    position: relative;
    padding-top: 40px;
    padding-bottom: 32px;
  }
}
@media (min-width: @desktop-width) {
  .promo {
    position: relative;
    padding-top: 119px;
    padding-bottom: 61px;
  }
}


@media(min-width:@tablet-width) {
  .promo__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    padding: 5px 0;
  }
}
@media(min-width:@desktop-width) {
  .promo__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    padding-left: 19px;
  }
}

.promo__title {
  margin-top: 4px;
  margin-bottom: 4px;
}
@media(min-width:@tablet-width) {
  .promo__title {
    margin: 0;
    max-width: 500px;
  }
}
@media(min-width:@desktop-width) {
  .promo__title {
    max-width: none;
  }
}

.promo__text {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @green-font;
  text-transform: uppercase;
}
@media(min-width:@tablet-width) {
  .promo__text {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: @green-font;
    text-transform: uppercase;
    text-align: center;
  }
}
@media(min-width:@desktop-width) {
  .promo__text {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: @green-font;
    text-transform: uppercase;
    text-align: center;
    margin-left: 0;
    margin-right: 25px;
  }
}

.promo__content-wrapper {
  position: relative;
  padding-top: 2px;
  padding-bottom: 36px;
}
@media(min-width:@tablet-width) {
  .promo__content-wrapper {
    position: relative;
    padding: 16px 378px 36px 175px;
  }
}
@media(min-width:@desktop-width) {
  .promo__content-wrapper {
    position: relative;
    padding: 2px 584px 36px 175px;
  }
}

.promo__description {
  margin-top: 17px;
  margin-bottom: 17px;
}
@media(min-width:@tablet-width) {
  .promo__description {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media(min-width:@desktop-width) {
  .promo__description {
    margin-top: 17px;
    margin-bottom: 47px;
  }
}

.promo__table {
  margin-bottom: 28px;
}
@media(min-width: @tablet-width) {
  .promo__table {
    margin-bottom: 57px;
  }
}
@media(min-width: @desktop-width) {
  .promo__table {
    margin-bottom: 110px;
  }
}

.promo-image {
  margin: 0 auto;
  width: 260px;
  height: 315px;
}
  @media(min-width: @tablet-width) {
    .promo-image {
      position: absolute;
      margin: 0;
      width: 333px;
      height: 404px;
    }
  }

  @media(min-width: @desktop-width) {
    .promo-image {
      width: 525px;
      height: 636px;
    }
  }

  .promo__image {
    display: block;
    width: 260px;
    height: auto;
  }
  @media(min-width: @tablet-width) {
    .promo__image {
      display: block;
      width: 333px;
      height: auto;
    }
  }
  @media(min-width: @desktop-width) {
    .promo__image {
      display: block;
      width: 525px;
      height: auto;
    }
  }

  .promo__price {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
  }
  @media(min-width: @tablet-width) {
    .promo__price {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
  }

  .promo-button {
    margin: 0;
  }
