.promo {
  position: relative;
  padding-top: 24px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: 0.7fr 2fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "promo__title promo__title promo__text" "promo__content-wrapper promo__image-wrapper promo__image-wrapper" "promo__price-wrapper promo__image-wrapper promo__image-wrapper";
  }

  @media (min-width: @desktop-width) {
    padding-top: 119px;
    padding-bottom: 61px;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "promo__text promo__title  promo__image-wrapper " "promo__text promo__content-wrapper  promo__image-wrapper " "promo__text promo__price-wrapper  promo__image-wrapper ";
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -37px;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-position-x: -1px;
    background-repeat: repeat-x;

    @media (min-width: @tablet-width) {
      height: 17px;
      background-size: 768px 17px;
      background-position-x: -20px;
    }

    @media (min-width: @desktop-width) {
      left: 50px;
      right: 50px;
      height: 23px;
      background-size: 1050px 21px;
      background-position-x: -25px;
    }
  }
}

.promo__header {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    padding: 5px 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 19px;
  }
}


.promo__title {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
    max-width: 500px;
    grid-area: promo__title;
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    max-width: none;
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }
}

.promo__text {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @green-font;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 0;
    max-width: 127px;
    line-height: 17px;
    grid-area: promo__text;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}

.promo__content-wrapper {
  @media (min-width: @tablet-width) {
    grid-area: promo__content-wrapper;
  }
}

.promo__price-wrapper {
  @media (min-width: @tablet-width) {
    grid-area: promo__price-wrapper;
    padding-right: 50px;
    align-self: end;
  }
}

.promo__description {
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 24px;
  color: @grey-basic;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    padding-right: 60px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 17px;
    margin-bottom: 47px;
  }
}

.promo__table {
  margin-bottom: 28px;
  color: @grey-basic;
}

.promo__image-wrapper {
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    top: 24px;
    right: 0;
    margin: 0;
    padding-top: 10px;
    grid-area: promo__image-wrapper;
  }
}

.promo__image {
  display: block;
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    min-width: 333px;
  }

  @media (min-width: @desktop-width) {
    min-width: 525px;
  }
}

.promo__price {
  margin-top: 25px;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: @grey-basic;

  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
    font-size: 20px;
  }
}

.promo__button {
  min-width: 259px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 292px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
