.review {
  position: relative;
  padding-top: 17px;
  padding-bottom: 51px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    padding-bottom: 127px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("../img/review@1x.jpg");
    background-size: image-size("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "review__title review__button" "review__text review__text" "review__author review__nav";
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
    padding-left: 225px;
    padding-bottom: 183px;
    background-position-x: 50px;
  }
}

.review::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 320px 7px;

  @media (min-width: @tablet-width) {
    height: 17px;
    background-size: 768px 17px;
    bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    left: 50px;
    right: 50px;
    height: 23px;
    background-size: 1050px 24px;
  }
}

.review__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-style: "Open Sans", "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    grid-area: review__title;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.review__text {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 30px;
  color: @grey-basic;
  font-family: "Open Sans", "Arial", sans-serif;


  @media (min-width: @tablet-width) {
    margin-top: -25px;
    margin-bottom: 58px;
    font-size: 17px;
    grid-area: review__text;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 38px;
    margin-top: 10px;
  }
}

.review__author {
  display: block;
  font-size: 17px;
  font-style: normal;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    grid-area: review__author;
  }
}

.review__author span {
  display: block;
  font-weight: 700;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 24px;
  }
}

.review__author-email {
  color: @grey-basic;
  text-decoration: none;
}

.review__nav {
  display: flex;
  justify-content: center;
  margin: 25px auto 38px;
  max-width: 320px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    margin: 0;
    width: 175px;
    grid-area: review__nav;
  }
}

.review__nav-button {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 1px solid @grey-light;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    border: 0;
  }

  &--previous {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50px;
      height: 26px;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: 50px 26px;
      background-image: url("../img/icon-left-arrow.svg");
    }
  }

  &--next {
    border-width: 1px 1px 1px 0;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50px;
      height: 26px;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: 50px 26px;
      background-image: url("../img/icon-right-arrow.svg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 26px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 50px 26px;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.review__button {
  height: 52px;
  min-width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 175px;
    grid-area: review__button;
    margin-right: 0;
  }
}
