.site-navigation {
  position: relative;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .site-navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    list-style: none;
  }
}

  @media (min-width: @desktop-width) {
    .site-navigation {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      font-size: 17px;
      font-weight: 700;
      list-style: none;
      width: 500px;
      border-bottom: 1px solid @grey-light;
    }
  }

    .site-navigation__link {
      display: block;
      border-bottom: 1px solid @grey-light;
      color: @black;
      text-decoration: none;
      list-style: none;
    }
