.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 19px;
  background-color: @footer-grey;
}

@media (min-width: @tablet-width) {
  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: @footer-grey;
    padding-bottom: 0;
    width: 300px;
    border-bottom: 0;
  }
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 13px 0 6px;
  width: 40px;
  height: 40px;
}

.social-links__image {
  fill: @black;

  &:hover {
    fill: @footer-green;
  }

  &:active {
    fill: @footer-green;
    opacity: 0.3;
  }
}
