.special-order {
  padding-top: 22px;
  padding-bottom: 55px;

  @media (min-width: @tablet-width) {
    padding-top: 72px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 122px;
  }
}

.special-order__description {
  margin: 0 auto;
  font-size: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
  }
}

.special-order__content-wrapper {
  @media (min-width: @tablet-width) {
    padding-left: 167px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.special-order__block-wrapper {
  &--gray {
    @media (min-width: @tablet-width) {
      background-color: @footer-grey;
    }
  }
}

.special-order__legend {
  color: @green-font;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
}

.special-order__textarea {
  display: block;
  margin-top: 3px;
  padding: 15px 14px;
  min-height: 142px;
  border-width: 2px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.special-order__input-text {
  font-size: 17px;
  line-height: 18px;
}

.special-order__submit {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 225px 2px;
  }
}

.special-order__essential {
  @media (min-width: @tablet-width) {
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.special-order__button {
  margin-top: 31px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 230px;
  }
}

.special-order__phone {
  fill: @black;
  opacity: 0.2;

  &:hover,
  &:active {
    fill: @green-form;
    opacity: 1;
  }
}

.special-order__email {
  fill: @black;
  opacity: 0.2;

  &:hover,
  &:active {
    fill: @green-form;
    opacity: 1;
  }
}
