.stock {
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style: none;
  font-size: 15px;
  font-weight: 700;

  @media (min-width: @desktop-width) {
    width: 500px;
  }
}

.stock__item-link {
  display: block;
  text-decoration: none;
  color: @black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
