.video {
  position: relative;
  padding-top: 30px;
  border: 1px solid @grey-light;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 3.8fr 2.1fr;
    grid-template-rows: 1fr 1.8fr;
    gap: 1px 1px;
    grid-template-areas: "video__content-wrapper video__title" "video__content-wrapper video__description-wrapper";
  }
}

.video-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.video__title {
  order: -1;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  padding-left: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  left: 20px;
  bottom: 9px;

  @media (min-width: @tablet-width) {
    order: 0;
    font-size: 20px;
    margin: 50px 0 0;
    padding-left: 86px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 38px;
    padding-right: 200px;
    margin-top: 65px;
    margin-bottom: 6px;
    grid-area: video__title;
    left: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: 32px 32px;

    @media (min-width: @tablet-width) {
      top: 10px;
      left: 20px;
    }

    @media (min-width: @desktop-width) {
      left: 0;
      top: 0;
    }
  }
}

.video__content-wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    min-width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    min-width: 680px;
    left: 0;
    top: 0;
    margin: 0;
    grid-area: video__content-wrapper;
  }
}

.video-catalog__image {
  display: block;
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    min-width: 668px;
  }

  @media (min-width: @desktop-width) {
    min-width: 682px;
  }
}

.video__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  border: 0;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    fill: @green-font;
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    fill: @green-font;
    opacity: 0.8;
  }
}

.video__description-wrapper {
  padding: 20px 25px 31px;

  @media (min-width: @tablet-width) {
    padding: 3px 36px 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 57px 0 80px;
    grid-area: video__description-wrapper;
  }
}

.video__description {
  margin: 13px 0 40px;
  font-size: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: @grey-basic;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-area: video__description;
    margin-bottom: 50px;
    margin-top: 10px;
  }
}

.video__button {
  margin: 0 auto;
  max-width: 192px;
  height: 52px;

  @media (min-width: @tablet-width) {
    margin-top: 35px;
    max-width: 584px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    max-height: 52px;
    max-width: 230px;
    height: 52px;
  }
}
