.video {
  position: relative;
  padding-top: 30px;
  border: 1px solid @grey-light;


  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 0;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding-left: 682px;
    display: grid;
    rid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "video__content-wrapper video__content-wrapper video__description-wrapper" "video__content-wrapper video__content-wrapper video__description-wrapper" "video__content-wrapper video__content-wrapper video__description-wrapper";
  }
}

.video-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }


}

.video__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 24px;
  padding-left: 60px;
  bottom: 180px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    order: 1;
    margin-top: 37px;
    margin-bottom: 5px;
    padding-left: 106px;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 38px;
    padding-right: 57px;
    margin-top: 57px;
    margin-bottom: 6px;
    grid-area: video__title;
  }

  &::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: 32px 32px;

    @media (min-width: @tablet-width) {
      top: 10px;
    }
  }
}

.video__content-wrapper {
  position: relative;
  margin: 0 auto;
  top: 50px;
  width: 260px;
  height: 150px;

  @media (min-width: @tablet-width) {
    top: 0;
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 682px;
    left: 0;
    top: 0;
    margin: 0;
  }
}

.video-catalog__image {
  display: block;
  width: 260px;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 668px;
  }
}

.video__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  border: 0;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  cursor: pointer;

  &:hover {
    fill: @green-font;
  }

  &:active {
    fill: @green-font;
    opacity: 0.8;
  }
}

.video__description-wrapper {
  padding: 14px 34px 32px;

  @media (min-width: @tablet-width) {
    padding: 14px 40px 45px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 57px 0 79px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "video__title" "video__description" "video__button";
    grid-area: video__description-wrapper;
  }
}

.video__description {
  margin: 13px 0;
  font-size: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: @grey-basic;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-area: video__description;
  }
}

.video__button {
  margin-top: 25px;
  max-width: 192px;
  height: 52px;

  @media (min-width: @tablet-width) {
    margin-top: 35px;
    max-width: 584px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 45px;
    max-height: 52px;
    grid-area: video__button;
    max-width: 230px;
    height: 52px;
  }
}
