@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .content-wrapper {
    min-width: 768px;
  }
}
@media (min-width: 1150px) {
  .content-wrapper {
    min-width: 1150px;
  }
}
.page-body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  align-items: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.page-header {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-header {
    background-color: #F1F1F1;
  }
}
@media (min-width: 1150px) {
  .page-header {
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .page-header--index {
    background-color: #f9f9f9;
  }
}
.page-main {
  border-bottom: 1px solid #F1F1F1;
}
.page-main__header {
  position: relative;
  padding-top: 71px;
  padding-bottom: 76px;
  background-color: #F1F1F1;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .page-main__header {
    padding-top: 36px;
    padding-bottom: 79px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .page-main__header {
    padding-top: 22px;
    padding-bottom: 102px;
  }
}
.page-main__header::after {
  content: none;
  position: absolute;
  left: 0;
  right: 0;
  background-image: url("../img/bg-zigzag-fill.svg");
  background-repeat: repeat-x;
}
@media (min-width: 768px) {
  .page-main__header::after {
    content: "";
    bottom: -12px;
    height: 24px;
    background-size: 768px 24px;
    background-position-x: 0;
  }
}
@media (min-width: 1150px) {
  .page-main__header::after {
    bottom: -17px;
    height: 34px;
    background-size: 1150px 34px;
  }
}
.page-main__header-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .page-main__header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.page-main__title {
  margin: 0;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .page-main__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.page-main__video {
  margin-bottom: 57px;
}
@media (min-width: 768px) {
  .page-main__video {
    margin-bottom: 62px;
  }
}
@media (min-width: 1150px) {
  .page-main__video {
    margin-bottom: 104px;
  }
}
.header-logo {
  display: block;
  width: 86px;
  height: 35px;
}
.header-logo:hover {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .header-logo {
    width: 113px;
    height: 45px;
  }
}
@media (min-width: 1150px) {
  .header-logo {
    width: 149px;
    height: 72px;
  }
}
.header-logo__image {
  display: block;
  width: 86px;
  height: 35px;
}
@media (min-width: 768px) {
  .header-logo__image {
    width: 112px;
    height: 46px;
  }
}
@media (min-width: 1150px) {
  .header-logo__image {
    width: 150px;
    height: 75px;
  }
}
.main-navigation {
  box-sizing: border-box;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .main-navigation {
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 89px;
    margin: 0 auto;
  }
}
.main-navigation__logo {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 22px 30px 21px;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .main-navigation__logo {
    justify-content: flex-start;
    flex-grow: 1;
    padding: 21px 50px;
    background-color: #ffffff;
  }
}
@media (min-width: 1150px) {
  .main-navigation__logo {
    flex-grow: 0;
    order: 1;
    padding: 7px 0 6px;
  }
}
.main-navigation__toggle {
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.main-navigation__toggle::after,
.main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 3px;
  background-color: #000000;
}
.main-navigation__toggle::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.main-navigation__toggle::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}
.main-navigation__toggle--off::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}
.main-navigation__toggle--off::after {
  display: none;
}
.main-navigation--nojs .main-navigation__toggle {
  display: none;
}
.main-navigation__text {
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 50px;
  text-align: right;
}
@media (min-width: 768px) {
  .main-navigation__text {
    display: block;
    margin-left: auto;
    order: 2;
  }
}
@media (min-width: 1150px) {
  .main-navigation__text {
    order: 4;
  }
}
@media (min-width: 768px) {
  .main-navigation__site-list {
    order: 1;
  }
}
@media (min-width: 1150px) {
  .main-navigation__site-list {
    order: 0;
  }
}
@media (min-width: 1150px) {
  .main-navigation__user-list {
    order: 2;
  }
}
.main-navigation__stock-list {
  display: none;
}
@media (min-width: 1150px) {
  .main-navigation__stock-list {
    display: flex;
    order: 3;
  }
}
.site-navigation {
  position: relative;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .site-navigation {
    display: flex;
    padding-left: 50px;
    width: 52%;
  }
}
@media (min-width: 1150px) {
  .site-navigation {
    width: 500px;
    font-size: 17px;
    background-color: white;
  }
}
.site-navigation::before {
  content: none;
  position: absolute;
  top: 0;
  right: 500px;
  width: calc(50vw - 575px);
  height: 100%;
  background-color: #ffffff;
}
@media (min-width: 1150px) {
  .site-navigation::before {
    content: "";
  }
}
.site-navigation--closed {
  display: none;
}
@media (min-width: 768px) {
  .site-navigation--closed {
    display: flex;
  }
}
.site-navigation__link {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 24px;
  padding: 29px 24px 27px 0;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}
.site-navigation__link:hover {
  opacity: 0.6;
}
.site-navigation__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-navigation__link {
    padding: 20px 32px 18px 0;
    border-bottom: none;
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .site-navigation__link {
    padding: 32px 36px 32px 0;
    font-size: 17px;
  }
}
.site-navigation__item {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .site-navigation__item {
    border-bottom: none;
  }
}
@media (min-width: 1150px) {
  .site-navigation__item:not(:last-child) {
    margin-right: 34px;
    border-right: 1px solid #ececec;
  }
}
.user-navigation {
  position: relative;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #ffffff;
  }
}
@media (min-width: 1150px) {
  .user-navigation {
    width: 500px;
    padding-right: 50px;
  }
}
.user-navigation::after {
  content: none;
  position: absolute;
  top: 0;
  left: 500px;
  width: calc(50vw - 575px);
  height: 100%;
  background-color: #ffffff;
}
@media (min-width: 1150px) {
  .user-navigation::after {
    content: "";
  }
}
.user-navigation--closed {
  display: none;
}
@media (min-width: 768px) {
  .user-navigation--closed {
    display: flex;
  }
}
.user-navigation__search {
  position: relative;
  display: block;
  padding: 27px 30px 27px 74px;
  border-bottom: 1px solid #ececec;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
@media (min-width: 768px) {
  .user-navigation__search {
    border-bottom: none;
  }
}
.user-navigation__search[href]:hover {
  color: #000000;
  opacity: 0.6;
}
.user-navigation__search[href]:active {
  color: #000000;
  opacity: 0.3;
}
.user-navigation__search--search {
  padding: 26px 103px 27px 74px;
}
@media (min-width: 768px) {
  .user-navigation__search--search {
    padding: 44px 40px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}
.user-navigation__search--busket {
  padding: 27px 60px 27px 74px;
}
@media (min-width: 768px) {
  .user-navigation__search--busket {
    padding: 32px 50px 32px 84px;
  }
}
@media (min-width: 1150px) {
  .user-navigation__search--busket {
    padding: 32px 0 32px 84px;
  }
}
.user-navigation__search-image {
  position: absolute;
  top: 40%;
  left: 30px;
  fill: #000000;
  opacity: 0.2;
}
.user-navigation__search-image:hover {
  fill: #63D1BB;
  opacity: 1;
}
.user-navigation__search-image:active {
  fill: #63D1BB;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .user-navigation__search-image {
    left: 32px;
  }
}
.user-navigation__item {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .user-navigation__search-text {
    display: none;
  }
}
.catalog {
  position: relative;
  background-color: #f9f9f9;
}
.catalog::after {
  content: none;
  position: absolute;
  left: 0;
  right: 0;
  background-image: url("../img/bg-zigzag-fill.svg");
  background-repeat: repeat-x;
}
@media (min-width: 768px) {
  .catalog::after {
    content: "";
    bottom: 0;
    height: 17px;
    background-size: 768px 25px;
    background-position-x: 0;
  }
}
@media (min-width: 1150px) {
  .catalog::after {
    height: 34px;
    background-size: auto 37px;
    background-position-x: 12px;
  }
}
.catalog__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 71px 0 0;
  min-height: 489px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px 373px;
  background-position: center -15%;
  background-repeat: no-repeat;
}
@media (min-width: 144dpi) {
  .catalog__content-wrapper {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .catalog__content-wrapper {
    min-height: 685px;
    padding-top: 93px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
    background-position: center bottom;
  }
}
@media (min-width: 144dpi) {
  .catalog__content-wrapper {
    background-image: url("../img/hero-tablet@2x.jpg");
  }
}
@media (min-width: 1150px) {
  .catalog__content-wrapper {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px 746px;
    background-position: center -75px;
    padding-top: 80px;
  }
}
@media (min-width: 1150px) {
  .catalog__content-wrapper {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}
.catalog__title {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: auto;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 260px;
  min-height: 90px;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 43px;
    line-height: 50px;
    padding-left: 80px;
    padding-right: 90px;
  }
}
@media (min-width: 1150px) {
  .catalog__title {
    padding: 0 100px;
    font-size: 53px;
    line-height: 57px;
    padding-left: 200px;
    padding-right: 200px;
  }
}
.catalog-list {
  position: relative;
  list-style: none;
  width: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
@media (min-width: 1150px) {
  .catalog-list {
    top: -16px;
  }
}
.catalog-list__item {
  min-width: 320px;
  height: 103px;
}
@media (min-width: 768px) {
  .catalog-list__item {
    width: 50%;
    height: 119px;
  }
}
.catalog-list__link {
  position: relative;
  display: block;
  padding: 26px 30px 29px;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .catalog-list__link {
    font-size: 20px;
    line-height: 30px;
    padding: 28px 35px 31px;
  }
}
.catalog-list__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.catalog-list__link::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  opacity: 0.2;
}
.catalog-list__link:hover {
  transform: translateY(-5px);
}
.catalog-list__link:hover::before {
  bottom: -5px;
  height: 5px;
}
.catalog-list__link:hover::after {
  opacity: 0.7;
}
.catalog-list__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.catalog-list__link:active::after {
  opacity: 0.3;
}
.catalog-list__link--interior {
  background-color: #63D1BB;
}
.catalog-list__link--interior::before {
  background-color: #59D5BC;
}
.catalog-list__link--interior::after {
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url("../img/icon-interior.svg");
  background-size: 40px 62px;
  background-color: #59D5BC;
}
.catalog-list__link--toys {
  background-color: #56C3B2;
}
.catalog-list__link--toys::before {
  background-color: #56C3B2;
}
.catalog-list__link--toys::after {
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-toy.svg");
  background-size: 60px 60px;
  background-color: #56C3B2;
}
.catalog-list__text {
  display: block;
  max-width: 120px;
  font-size: 19px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .catalog-list__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
}
.promo {
  position: relative;
  padding-top: 26px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .promo {
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: 0.7fr 2fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "promo__title promo__title promo__text" "promo__content-wrapper promo__image-wrapper promo__image-wrapper" "promo__price-wrapper promo__image-wrapper promo__image-wrapper";
  }
}
@media (min-width: 1150px) {
  .promo {
    padding-bottom: 61px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 1px 1px;
  }
}
.promo::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -29px;
  height: 7px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 320px 7px;
  background-position-x: -1px;
  background-repeat: repeat-x;
}
@media (min-width: 768px) {
  .promo::after {
    height: 17px;
    background-size: 768px 17px;
    background-position-x: -20px;
  }
}
@media (min-width: 1150px) {
  .promo::after {
    left: 50px;
    right: 50px;
    height: 23px;
    background-size: 1050px 21px;
    background-position-x: -55px;
  }
}
@media (min-width: 768px) {
  .promo__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    padding: 5px 0;
  }
}
@media (min-width: 1150px) {
  .promo__header {
    padding-left: 19px;
  }
}
.promo__title {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Open Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .promo__title {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
    max-width: 500px;
    grid-area: promo__title;
    margin-top: 10px;
  }
}
@media (min-width: 1150px) {
  .promo__title {
    max-width: none;
    font-size: 53px;
    line-height: 57px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    order: 1;
    padding-top: 68px;
  }
}
.promo__text {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #63D1BB;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    text-align: center;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 0;
    max-width: 127px;
    line-height: 17px;
    grid-area: promo__text;
  }
}
@media (min-width: 1150px) {
  .promo__text {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 auto;
    padding-top: 85px;
  }
}
@media (min-width: 768px) {
  .promo__content-wrapper {
    grid-area: promo__content-wrapper;
  }
}
@media (min-width: 1150px) {
  .promo__content-wrapper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: -8px;
  }
}
@media (min-width: 768px) {
  .promo__price-wrapper {
    grid-area: promo__price-wrapper;
    padding-right: 50px;
    align-self: end;
  }
}
@media (min-width: 1150px) {
  .promo__price-wrapper {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 57px;
  }
}
.promo__description {
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 768px) {
  .promo__description {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    padding-right: 60px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1150px) {
  .promo__description {
    margin-top: 17px;
    margin-bottom: 47px;
  }
}
.promo__table {
  margin-bottom: 28px;
  color: #444444;
}
.promo__image-wrapper {
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .promo__image-wrapper {
    top: 24px;
    right: 0;
    margin: 0;
    padding-top: 10px;
    grid-area: promo__image-wrapper;
  }
}
@media (min-width: 1150px) {
  .promo__image-wrapper {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
.promo__image {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .promo__image {
    min-width: 333px;
  }
}
@media (min-width: 1150px) {
  .promo__image {
    min-width: 525px;
  }
}
.promo__price {
  margin-top: 25px;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .promo__price {
    margin-bottom: 34px;
    font-size: 20px;
  }
}
@media (min-width: 1150px) {
  .promo__price {
    margin-bottom: 32px;
  }
}
.promo__button {
  min-width: 259px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .promo__button {
    min-width: 292px;
  }
}
@media (min-width: 1150px) {
  .promo__button {
    margin: 0;
    margin-bottom: 10px;
  }
}
.review {
  position: relative;
  padding-bottom: 51px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .review {
    padding-top: 82px;
    padding-bottom: 127px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-position: left top;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "review__title review__button" "review__text review__text" "review__author review__nav";
  }
}
@media (min-width: 1150px) {
  .review {
    padding-top: 55px;
    padding-left: 225px;
    padding-bottom: 183px;
    background-position-x: 50px;
  }
}
@media (min-width: 144dpi) {
  .review {
    background-image: url("../img/review@2x.jpg");
  }
}
.review::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 320px 7px;
}
@media (min-width: 768px) {
  .review::after {
    height: 17px;
    background-size: 768px 17px;
    bottom: 40px;
  }
}
@media (min-width: 1150px) {
  .review::after {
    left: 50px;
    right: 50px;
    height: 23px;
    background-size: 1050px 24px;
  }
}
.review__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: bold;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .review__title {
    max-width: 300px;
    grid-area: review__title;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .review__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 21px;
  }
}
.review__text {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 36px;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  min-width: 260px;
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .review__text {
    margin-top: -34px;
    font-size: 17px;
    grid-area: review__text;
  }
}
@media (min-width: 1150px) {
  .review__text {
    margin-bottom: 27px;
    margin-top: -3px;
  }
}
.review__author {
  display: block;
  font-size: 17px;
  font-style: normal;
  line-height: 30px;
}
@media (min-width: 768px) {
  .review__author {
    grid-area: review__author;
    margin-top: 22px;
  }
}
.review__author span {
  display: block;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .review__author span {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 24px;
  }
}
.review__author-email {
  color: #444444;
  text-decoration: none;
}
.review__nav {
  display: flex;
  justify-content: center;
  margin: 25px auto 38px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .review__nav {
    position: absolute;
    right: 0;
    margin: 0;
    width: 175px;
    grid-area: review__nav;
    margin-top: 25px;
  }
}
.review__nav-button {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  cursor: pointer;
  background-color: transparent;
}
@media (min-width: 768px) {
  .review__nav-button {
    border: 0;
  }
}
.review__nav-button--previous::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 26px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-image: url("../img/icon-left-arrow.svg");
}
.review__nav-button--previous:hover::after {
  opacity: 0.6;
}
.review__nav-button--previous:active::after {
  opacity: 0.3;
}
.review__nav-button--next::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 26px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-image: url("../img/icon-right-arrow.svg");
}
@media (min-width: 768px) {
  .review__nav-button--next::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 26px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 50px 26px;
    background-image: url("../img/icon-right-arrow.svg");
  }
}
@media (min-width: 1150px) {
  .review__nav-button--next::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 26px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 50px 26px;
    background-image: url("../img/icon-right-arrow.svg");
  }
}
.review__nav-button--next::after:hover::after {
  opacity: 0.6;
}
.review__nav-button--next::after:active::after {
  opacity: 0.3;
}
.review__button {
  height: 52px;
  min-width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .review__button {
    min-width: 175px;
    grid-area: review__button;
    margin-right: 0;
    margin-top: -5px;
  }
}
@media (min-width: 1150px) {
  .review__button {
    margin-top: 21px;
  }
}
.contacts {
  position: relative;
  padding-top: 17px;
  padding-bottom: 38px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 21px;
    padding-bottom: 57px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    margin: 0 auto;
    padding: 69px 50px 104px;
    width: 1050px;
  }
}
.contacts__wrapper {
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    margin-top: 4px;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    margin: 0;
    padding-top: 51px;
    padding-left: 175px;
    width: 525px;
  }
}
.contacts__title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 0;
  }
}
.contacts__title::after {
  content: "";
  position: absolute;
  display: none;
  right: 3px;
  transform: translateY(-50%);
  width: 47px;
  height: 82px;
  background-image: url("../img/icon-flag.svg");
  background-size: 46px 81px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .contacts__title::after {
    display: block;
    top: 16px;
  }
}
@media (min-width: 1150px) {
  .contacts__title::after {
    left: -112px;
    right: auto;
  }
}
.contacts__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 1px 1px;
  grid-template-areas: "contacts__list-email contacts__list-description" "contacts__list-adress contacts__list-content";
  margin: 25px auto 30px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .contacts__list {
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "contacts__list-email contacts__list-description contacts__list-adress contacts__list-content";
    font-size: 17px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1150px) {
  .contacts__list {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    gap: 1px 1px;
    grid-template-areas: "contacts__list-email contacts__list-description" "contacts__list-adress contacts__list-content";
    margin-bottom: 0;
  }
}
.contacts__list-email {
  color: #444444;
  grid-area: contacts__list-email;
}
@media (min-width: 1150px) {
  .contacts__list-email {
    margin-bottom: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1150px) {
  .contacts__list-email {
    padding-right: 0;
    margin-top: 9px;
  }
}
.contacts__list-description {
  margin: 0;
  color: #444444;
  grid-area: contacts__list-description;
}
@media (min-width: 1150px) {
  .contacts__list-description {
    margin-bottom: 30px;
    padding: 0;
    margin-left: 0;
  }
}
@media (min-width: 1150px) {
  .contacts__list-description {
    padding-right: 0;
    margin-top: 9px;
  }
}
.contacts__list-adress {
  color: #444444;
  grid-area: contacts__list-adress;
}
@media (min-width: 1150px) {
  .contacts__list-adress {
    margin-bottom: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1150px) {
  .contacts__list-adress {
    padding-right: 0;
    margin-bottom: 0;
  }
}
.contacts__list-content {
  color: #444444;
  grid-area: contacts__list-content;
  margin: 0;
}
@media (min-width: 1150px) {
  .contacts__list-content {
    padding: 0;
  }
}
.contacts__map {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .contacts__map {
    margin-bottom: 53px;
  }
}
@media (min-width: 1150px) {
  .contacts__map {
    position: absolute;
    top: 40px;
    right: 50px;
    margin-bottom: 0;
    width: 525px;
    height: 457px;
  }
}
.contacts__button-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .contacts__button-wrapper {
    padding-left: 269px;
    padding-right: 269px;
  }
}
@media (min-width: 1150px) {
  .contacts__button-wrapper {
    margin-left: 175px;
    padding: 0;
    width: 230px;
    min-width: auto;
    padding-top: 30px;
  }
}
.contacts__marker {
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 50%;
  width: 66px;
  height: 101px;
  background-image: url("../img/icon-map-pin.svg");
  background-size: 66px 101px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .contacts__marker {
    left: 47%;
    top: 46%;
  }
}
@media (min-width: 1150px) {
  .contacts__marker {
    left: 72%;
    top: 30%;
  }
}
.contacts__button {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contacts__button {
    width: 230px;
  }
}
.page-footer {
  padding-top: 6px;
  padding-bottom: 10px;
  background-color: #F1F1F1;
  background-size: cover;
}
@media (min-width: 768px) {
  .page-footer {
    padding-top: 30px;
    padding-bottom: 46px;
    background-size: cover;
  }
}
@media (min-width: 1150px) {
  .page-footer {
    padding-bottom: 50px;
  }
}
.page-footer__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    margin-right: 83px;
  }
}
.page-footer__copyright {
  margin-top: 14px;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    margin: 0;
    width: 184px;
  }
}
.page-footer__copyright-text {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  padding-right: 25px;
}
.page-footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 7px;
  color: #000000;
  text-decoration: none;
}
.page-footer__copyright-image {
  width: 27px;
  height: 34px;
  fill: #63D1BB;
}
.page-footer__copyright-image:hover {
  fill: #46C1AE;
}
.page-footer__copyright-image:active {
  fill: #46C1AE;
  opacity: 0.3;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 19px;
  padding-left: 0;
  background-color: #F1F1F1;
}
@media (min-width: 768px) {
  .social-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #F1F1F1;
    padding-bottom: 0;
    width: 300px;
    border-bottom: 0;
    padding-right: 80px;
  }
}
.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 13px 0 6px;
  width: 40px;
  height: 40px;
}
.social-links__image {
  fill: #000000;
}
.social-links__image:hover {
  fill: #46C1AE;
}
.social-links__image:active {
  fill: #46C1AE;
  opacity: 0.3;
}
.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal--opened {
  display: block;
}
.modal__form-cart {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.stock-navigation {
  display: none;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style: none;
  font-size: 15px;
  font-weight: 700;
}
@media (min-width: 1150px) {
  .stock-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    box-sizing: border-box;
    list-style: none;
    font-size: 15px;
    font-weight: 700;
  }
}
@media (min-width: 1150px) {
  .stock-navigation {
    padding-left: 50px;
    margin-top: 0;
  }
}
@media (min-width: 1150px) {
  .stock-navigation__item:not(:last-child) {
    margin-right: 34px;
  }
}
.stock-navigation__item-link {
  display: block;
  text-decoration: none;
  padding: 18px 29px 18px 0;
  color: #000000;
}
.stock-navigation__item-link:hover {
  opacity: 0.6;
}
.stock-navigation__item-link:active {
  opacity: 0.3;
}
.advantages {
  padding-top: 24px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .advantages {
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 65px;
  }
}
@media (min-width: 1150px) {
  .advantages {
    padding-top: 33px;
    padding-bottom: 30px;
  }
}
.advantages__title {
  margin-top: 44px;
  margin-bottom: 29px;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .advantages__title {
    margin-top: 26px;
    margin-bottom: 42px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .advantages__title {
    margin-top: 64px;
    margin-bottom: 36px;
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
    padding-right: 170px;
  }
}
.advantages__list {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2px;
         column-gap: 2px;
  }
}
@media (min-width: 1150px) {
  .advantages__list {
    padding-left: 170px;
    padding-right: 170px;
  }
}
.advantages__list-item {
  position: relative;
  padding-top: 54px;
  padding-bottom: 29px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__list-item {
    padding-bottom: 58px;
    font-size: 20px;
    line-height: 22px;
    padding-right: 40px;
    padding-top: 56px;
  }
}
.advantages__list-item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
.advantages__list-item--ecologie::before {
  left: 8px;
  top: 0;
  width: 32px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
  background-size: 32px 37px;
}
.advantages__list-item--scandinavian::before {
  left: 0;
  top: 0;
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
  background-size: 47px 27px;
}
.advantages__list-item--likes::before {
  left: 7px;
  top: 6px;
  width: 33px;
  height: 28px;
  background-image: url("../img/icon-feature-heart.svg");
  background-size: 33px 28px;
}
.advantages__list-item--craft::before {
  left: 3px;
  top: 3px;
  width: 34px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
  background-size: 34px 34px;
}
.advantages__list-item--homeland::before {
  left: -5px;
  top: 4px;
  width: 54px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-size: 54px 23px;
}
.advantages__list-item--gift::before {
  left: 3px;
  top: 2px;
  width: 33px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
  background-size: 33px 32px;
}
.catalog-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 78px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .catalog-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 129px;
    padding-bottom: 3px;
  }
}
.catalog-product {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  padding-bottom: 31px;
}
@media (min-width: 768px) {
  .catalog-product {
    width: 668px;
    padding-bottom: 52px;
  }
}
@media (min-width: 1150px) {
  .catalog-product {
    width: 316px;
  }
}
.catalog-product__img {
  display: block;
  width: 260px;
}
@media (min-width: 768px) {
  .catalog-product__img {
    width: 50%;
  }
}
@media (min-width: 1150px) {
  .catalog-product__img {
    width: 100%;
  }
}
.catalog-product__wrapper {
  box-sizing: border-box;
  padding: 26px 27px 11px;
  width: 260px;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .catalog-product__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    width: 50%;
  }
}
@media (min-width: 1150px) {
  .catalog-product__wrapper {
    padding-bottom: 9px;
    width: 100%;
    min-height: 197px;
    padding-top: 25px;
  }
}
.catalog-product:hover .catalog-product__wrapper {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.catalog-product:active .catalog-product__wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.catalog-product__title {
  margin-top: 0;
  margin-bottom: -4px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .catalog-product__title {
    font-weight: 700;
    font-size: 20px;
    padding-right: 36px;
    padding-left: 4px;
  }
}
@media (min-width: 1150px) {
  .catalog-product__title {
    margin-top: 0;
    margin-bottom: -10px;
    padding-right: 30px;
    padding-left: 0;
  }
}
.catalog-product__link {
  color: #000000;
  text-decoration: none;
}
.catalog-product__link:hover {
  opacity: 0.6;
}
.catalog-product__link:active {
  opacity: 0.3;
}
.catalog-product__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .catalog-product__description {
    font-size: 15px;
  }
}
.catalog-product__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
  padding: 23px 0 16px;
}
@media (min-width: 768px) {
  .catalog-product__price-wrapper {
    margin-top: auto;
    padding: 22px 4px 15px;
  }
}
@media (min-width: 1150px) {
  .catalog-product__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 22px 5px 17px 0;
  }
}
.catalog-product__price {
  margin: 0;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog-product__price {
    margin: 0;
    font-weight: 700;
    color: #000000;
    font-size: 17px;
  }
}
.catalog-product__button {
  width: 20px;
  height: 19px;
}
.catalog-product__button-image {
  fill: #000000;
  opacity: 0.2;
}
.catalog-product__button-image:hover {
  fill: #63D1BB;
  opacity: 1;
}
.catalog-product__button-image:active {
  fill: #63D1BB;
  opacity: 0.3;
}
.video {
  position: relative;
  padding-top: 30px;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .video {
    padding-top: 0;
  }
}
@media (min-width: 1150px) {
  .video {
    display: grid;
    grid-template-columns: 3.8fr 2.1fr;
    grid-template-rows: 1fr 1.8fr;
    gap: 1px 1px;
    grid-template-areas: "video__content-wrapper video__title" "video__content-wrapper video__description-wrapper";
  }
}
.video-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .video-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .video-wrapper {
    padding-top: 0;
  }
}
.video__title {
  order: -1;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  padding-left: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  left: 20px;
  bottom: 9px;
}
@media (min-width: 768px) {
  .video__title {
    order: 0;
    font-size: 20px;
    margin: 50px 0 0;
    padding-left: 86px;
  }
}
@media (min-width: 1150px) {
  .video__title {
    padding-left: 60px;
    padding-top: 38px;
    padding-right: 200px;
    margin-top: 65px;
    grid-area: video__title;
    max-width: 200px;
  }
}
.video__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
@media (min-width: 768px) {
  .video__title::before {
    top: 10px;
    left: 20px;
  }
}
@media (min-width: 1150px) {
  .video__title::before {
    left: 60px;
    top: 0;
  }
}
.video__content-wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .video__content-wrapper {
    min-width: 668px;
    height: 455px;
  }
}
@media (min-width: 1150px) {
  .video__content-wrapper {
    min-width: 680px;
    left: 0;
    top: 0;
    margin: 0;
    grid-area: video__content-wrapper;
  }
}
.video__image {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .video__image {
    min-width: 668px;
  }
}
@media (min-width: 1150px) {
  .video__image {
    min-width: 682px;
  }
}
.video__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  border: 0;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  cursor: pointer;
}
.video__play-button:hover {
  transform: translate(-50%, -50%) scale(1.2);
  fill: #63D1BB;
}
.video__play-button:active {
  transform: translate(-50%, -50%) scale(0.8);
  fill: #63D1BB;
  opacity: 0.8;
}
.video__description-wrapper {
  padding: 20px 25px 31px;
}
@media (min-width: 768px) {
  .video__description-wrapper {
    padding: 3px 36px 45px;
  }
}
@media (min-width: 1150px) {
  .video__description-wrapper {
    padding: 0 57px 0 80px;
    grid-area: video__description-wrapper;
  }
}
.video__description {
  margin: 13px 0 40px;
  font-size: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #444444;
}
@media (min-width: 768px) {
  .video__description {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1150px) {
  .video__description {
    grid-area: video__description;
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
.video__button {
  margin: 0 auto;
  max-width: 192px;
  height: 52px;
}
@media (min-width: 768px) {
  .video__button {
    margin-top: 35px;
    max-width: 584px;
  }
}
@media (min-width: 1150px) {
  .video__button {
    margin: 0;
    max-height: 52px;
    max-width: 230px;
    margin-top: 50px;
  }
}
.special-order {
  padding-top: 17px;
  padding-bottom: 55px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .special-order {
    padding-top: 65px;
    padding-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .special-order {
    padding-top: 115px;
  }
}
.special-order__description {
  margin: 0 auto;
  font-size: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 29px;
}
@media (min-width: 768px) {
  .special-order__description {
    padding: 0 50px;
    margin-bottom: 14px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .special-order__description {
    margin-bottom: 7px;
    padding: 0;
    max-width: 700px;
  }
}
@media (min-width: 768px) {
  .special-order__content-wrapper {
    padding-left: 167px;
  }
}
@media (min-width: 1150px) {
  .special-order__content-wrapper {
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 3px;
  }
}
.special-order__content-wrapper--type {
  display: flex;
  flex-wrap: wrap;
}
.special-order__content-wrapper--color {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .special-order__content-wrapper--color {
    box-sizing: border-box;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    min-height: 204px;
  }
}
@media (min-width: 1150px) {
  .special-order__content-wrapper--color {
    padding-right: 145px;
    min-height: 128px;
  }
}
@media (min-width: 768px) {
  .special-order__block-wrapper--gray {
    background-color: #F1F1F1;
  }
}
.special-order__fieldset {
  position: relative;
  padding-top: 21px;
  padding-bottom: 21px;
  border: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .special-order__fieldset {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.special-order__fieldset--type {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .special-order__fieldset--type {
    margin-bottom: -20px;
  }
}
.special-order__fieldset--color {
  margin-bottom: 0;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .special-order__fieldset--color {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}
.special-order__fieldset--name {
  padding-top: 28px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .special-order__fieldset--name {
    padding-bottom: 25px;
    padding-top: 49px;
  }
}
.special-order__fieldset--contact {
  padding-bottom: 2px;
  top: -19px;
}
@media (min-width: 768px) {
  .special-order__fieldset--contact {
    padding-bottom: 12px;
  }
}
.special-order__fieldset--message {
  top: -20px;
}
@media (min-width: 768px) {
  .special-order__fieldset--message {
    padding-bottom: 0;
    top: 0;
  }
}
@media (min-width: 1150px) {
  .special-order__fieldset--message {
    top: -5px;
  }
}
.special-order__legend {
  display: block;
  padding: 0;
  width: 100%;
  color: #63D1BB;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
}
@media (min-width: 768px) {
  .special-order__legend {
    position: absolute;
    left: 50px;
    top: 66px;
    width: 100px;
  }
}
@media (min-width: 1150px) {
  .special-order__legend {
    left: 112px;
  }
}
.special-order__legend--phone,
.special-order__legend--email {
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .special-order__legend--phone,
  .special-order__legend--email {
    margin-top: 18px;
  }
}
@media (min-width: 768px) {
  .special-order__legend--email {
    top: 143px;
  }
}
.special-order__legent-text {
  display: flex;
  align-items: center;
}
.special-order__legent-text::after {
  content: "";
  height: 1px;
  background-color: #62D1BA;
  flex-grow: 1;
  margin-left: 25px;
}
@media (min-width: 768px) {
  .special-order__legent-text::after {
    content: none;
  }
}
.special-order__textarea {
  display: block;
  min-height: 110px;
  min-width: 230px;
  padding: 15px 14px;
  border: 2px solid #444444;
  box-shadow: inset 0 -2px 0 #000000;
  resize: vertical;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .special-order__textarea {
    margin-top: 0;
    min-height: 110px;
    min-width: 470px;
    font-size: 19px;
  }
}
@media (min-width: 1150px) {
  .special-order__textarea {
    min-width: 670px;
    min-height: 115px;
    padding: 10px 14px;
  }
}
.special-order__textarea:hover,
.special-order__textarea:focus {
  border-color: #62D1BA;
}
.special-order__input-wrapper {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
.special-order__input-wrapper--type {
  min-width: 260px;
}
.special-order__input-wrapper--color {
  margin-bottom: 19px;
  min-width: 240px;
  font-size: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
}
@media (min-width: 768px) {
  .special-order__input-wrapper--color {
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .special-order__input-wrapper--color {
    min-width: 203px;
  }
}
.special-order__input-wrapper--name {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .special-order__input-wrapper--name {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
}
.special-order__input-wrapper--contact {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .special-order__input-wrapper--contact {
    margin-top: 20px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1150px) {
  .special-order__input-wrapper--contact {
    margin-top: 17px;
  }
}
.special-order__input-text {
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 12px 0;
  width: 100%;
  min-height: 52px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: transparent;
  outline: none;
}
@media (min-width: 768px) {
  .special-order__input-text {
    padding: 12px 16px;
    font-size: 19px;
    line-height: 18px;
  }
}
.special-order__input-text::-moz-placeholder {
  color: inherit;
  opacity: 0.3;
}
.special-order__input-text::placeholder {
  color: inherit;
  opacity: 0.3;
}
.special-order__input-text:hover,
.special-order__input-text:focus {
  border-color: #62D1BA;
}
.special-order__input-text:hover + .special-order__input-image,
.special-order__input-text:focus + .special-order__input-image {
  fill-opacity: 1;
  fill: #62D1BA;
}
.special-order__submit-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .special-order__submit-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 51px;
    padding-bottom: 44px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .special-order__submit-wrapper {
    padding: 0 225px 2px;
    margin-bottom: 50px;
    margin-top: 45px;
  }
}
.special-order__essential {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-top: -25px;
}
@media (min-width: 768px) {
  .special-order__essential {
    margin-top: -25px;
    order: 1;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .special-order__essential {
    order: 1;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }
}
.special-order__button {
  margin-top: 15px;
  min-width: 260px;
}
@media (min-width: 768px) {
  .special-order__button {
    margin: 0;
    min-width: 230px;
  }
}
.special-order__input-image {
  position: absolute;
  top: 11px;
  fill-opacity: 0.2;
}
@media (min-width: 768px) {
  .special-order__input-image {
    top: 12px;
  }
}
.special-order__input-image--phone {
  right: 8px;
  width: 25px;
  height: 24px;
}
@media (min-width: 768px) {
  .special-order__input-image--phone {
    right: 26px;
  }
}
@media (min-width: 1150px) {
  .special-order__input-image--phone {
    right: 8px;
  }
}
.special-order__input-image--email {
  right: 4px;
  width: 32px;
  height: 32px;
}
@media (min-width: 768px) {
  .special-order__input-image--email {
    right: 22px;
  }
}
@media (min-width: 1150px) {
  .special-order__input-image--email {
    right: 4px;
  }
}
.special-order__label,
.special-order__label-radio {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  display: block;
}
@media (min-width: 768px) {
  .special-order__label,
  .special-order__label-radio {
    font-size: 19px;
    line-height: 19px;
    padding-right: 27px;
  }
}
.special-order__label-radio {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 62px;
}
@media (min-width: 768px) {
  .special-order__label-radio {
    padding-top: 17px;
    padding-bottom: 39px;
    padding-left: 80px;
  }
}
@media (min-width: 1150px) {
  .special-order__label-radio {
    min-width: 300px;
  }
}
.special-order__label-radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 36px;
  height: 36px;
  border-width: 2px;
  border-style: solid;
  border-color: #444444;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .special-order__label-radio::before {
    top: 0;
    width: 48px;
    height: 48px;
  }
}
.special-order__label-radio::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 15px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #62D1BA;
}
@media (min-width: 768px) {
  .special-order__label-radio::after {
    left: 15px;
    width: 22px;
    height: 22px;
  }
}
.special-order__label-radio:hover::before {
  border-color: #62D1BA;
}
.special-order__label-radio:active::before {
  border-color: #444444;
  opacity: 0.3;
}
.spacial-order__radio:checked + .special-order__label-radio::after {
  display: block;
}
.special-order__label-checkbox {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-style: normal;
  display: block;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 62px;
}
@media (min-width: 768px) {
  .special-order__label-checkbox {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 82px;
    font-size: 19px;
  }
}
.special-order__label-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 34px;
  height: 34px;
  border-width: 3px;
  border-style: solid;
  border-color: #444444;
}
@media (min-width: 768px) {
  .special-order__label-checkbox::before {
    top: 0;
    width: 48px;
    height: 48px;
  }
}
.special-order__label-checkbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 15px;
  transform: rotate(-45deg);
  width: 20px;
  height: 9px;
  border-left: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
@media (min-width: 1150px) {
  .special-order__label-checkbox::after {
    left: 12px;
    width: 29px;
    height: 14px;
  }
}
.special-order__label-checkbox:hover::before {
  border-color: #62D1BA;
}
.special-order__label-checkbox:active::before {
  border-color: #444444;
  opacity: 0.3;
}
.special-order__checkbox:checked + .special-order__label-checkbox::after {
  display: block;
}
.map {
  position: relative;
  min-height: 457px;
}
@media (min-width: 1150px) {
  .map {
    position: absolute;
  }
}
.map__image {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  min-width: 320px;
  min-height: 457px;
}
@media (min-width: 768px) {
  .map__image {
    min-width: 768px;
  }
}
@media (min-width: 1150px) {
  .map__image {
    min-width: 525px;
  }
}
.map__interactive {
  position: relative;
  z-index: 20;
  border: none;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  min-width: 320px;
  min-height: 457px;
}
@media (min-width: 550px) {
  .map__interactive {
    min-width: 525px;
  }
}
@media (min-width: 768px) {
  .map__interactive {
    min-width: 768px;
  }
}
@media (min-width: 1150px) {
  .map__interactive {
    min-width: 525px;
  }
}
.footer-logo {
  width: 102px;
  height: 34px;
}
.footer-logo:hover {
  fill: #46C1AE;
}
.footer-logo:active {
  fill: #46C1AE;
  opacity: 0.3;
}
.footer-logo__image {
  width: 102px;
  height: 34px;
}
.button {
  display: block;
  box-sizing: border-box;
  padding: 14px 10px;
  font-family: "Open Sans", "Arial", sans-serif;
  border: 2px solid #444444;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  text-decoration: none;
}
.button:hover {
  background: #444444;
  color: #ffffff;
}
.button:active {
  background: #444444;
  color: rgba(255, 255, 255, 0.3);
}
.button--green {
  background: #63D1BB;
  color: #ffffff;
  margin: 0 auto;
  border: none;
}
.button--green:hover,
.button--green:active {
  border-color: #59D5BC;
  background-color: #59D5BC;
}
.table-specification {
  width: 100%;
  border-spacing: 0;
  line-height: 20px;
}
@media (min-width: 768px) {
  .table-specification {
    padding-right: 40px;
  }
}
.table-specification__row {
  border: 1px solid #ececec;
}
.table-specification__cell {
  padding: 12px 10px 10px 0;
  border-bottom: 1px solid #ececec;
}
.table-specification__cell:first-child {
  width: 37.5%;
}
@media (min-width: 768px) {
  .table-specification__cell:first-child {
    width: 33.4%;
  }
}
.mail-link {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #62D1BA;
  color: #444444;
}
.mail-link:hover {
  border-bottom-color: #46C1AE;
  color: #46C1AE;
}
.mail-link:active {
  color: #46C1AE;
  border-bottom-color: rgba(70, 193, 174, 0.1);
}
.form-cart {
  box-sizing: border-box;
  padding: 31px 30px 46px;
  width: 320px;
  border: 1px solid #c6c6c6;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
@media (min-width: 768px) {
  .form-cart {
    width: 568px;
  }
}
.form-cart__title {
  margin: 0 auto 11px;
  max-width: 160px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-cart__title {
    margin: 0 0 15px;
    max-width: none;
    font-size: 30px;
    line-height: 57px;
  }
}
.form-cart__fieldset {
  margin: 0;
  padding: 23px 0;
  border: 0;
}
@media (min-width: 768px) {
  .form-cart__fieldset {
    margin-bottom: 9px;
    padding: 22px 78px;
  }
}
.form-cart__legend {
  padding: 0;
  width: 100%;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .form-cart__legend {
    font-size: 17px;
  }
}
.form-cart__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .form-cart__input-wrapper {
    margin-bottom: 0;
  }
}
.form-cart__label {
  box-sizing: border-box;
  padding: 16px 10px 15px;
  width: 82px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}
@media (min-width: 768px) {
  .form-cart__label {
    width: 112px;
  }
}
.form-cart__label:hover {
  border-color: rgba(68, 68, 68, 0.3);
}
.form-cart__label:active {
  border-color: #444444;
}
.form-cart__radio:checked + .form-cart__label {
  border-color: #63D1BB;
}
.form-cart__radio:focus + .form-cart__label {
  outline: 1px dashed #444444;
}
@media (min-width: 768px) {
  .form-cart__button {
    width: 350px;
    max-width: none;
    margin: 0 auto;
  }
}
.page-overlay {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
